* {
  box-sizing: border-box;
}
body {
  background-color: rgb(230, 255, 230, 0.4);
}
main {
  width: 70%;
  margin: 5px auto;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 25px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5px;
}
a:hover {
  text-decoration: none;
}
article {
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-left: 2px;
}
article h2 {
  margin-top: 1px;
}
@media (max-width: 500px) {
  main {
    width: 95%;
  }
}
