* {
  box-sizing: border-box;
}
:root {
  --tilt: -2;
}
body {
  background-color: rgb(230, 255, 230, 0.4);
}
main {
  width: 95%;
  margin: 5px auto;
}
a:hover {
  text-decoration: none;
}
#blogs {
  transform: perspective(500px) rotateY(calc(var(--tilt) * 1deg));
  transition: transform 0.3s;
}
